<div class="main">
  <div class="container hidden" id="addEditClassroomForm">
    <input type="hidden" id="classroom_id" value="">
    <h2>Add/edit classroom</h2>
    <form class="form-horizontal" id="classroomForm" method="" action="">
        <label>Name</label>
        <input type="text" name="classroom_name" id="classroomName" class="form-control" value=""/>
        <label>Number of students</label>
        <input type="text" name="classroom_no_of_students" id="classroomNoOfStudents" class="form-control" value=""/>
        <label>School</label>
          <select name="school_list_element" id="schoolListElement">
            <option value="" disabled selected>Select a school </option>
          </select>
        <button type="submit" class="btn btn-primary" id="classroomAdd">Add</button>
        <button type="submit" class="btn btn-primary hidden" id="classroomUpdate">Update</button>
    </form>
  </div>
</div>