<div class="main">
  <div class="container hidden" id="listClassroomsForm">
      <h2>List classrooms</h2>

        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Students</th>
            <th colspan="3"></th>
          </tr>
          </thead>
        </table>
    <ul id='classroom-list'>
      <li id='classroom-list-template-clone' class="hidden">
        <div class='row'>
          <span class='col-sm-4 span-classroom-name'>
            classroom name
          </span>
          <span class='col-sm-4 span-classroom-students'>
            classroom students
          </span>
          <span>
            <button type="button" class="editClassroom" id="" button-type="edit" data-li="classroom-list-template-clone">Edit</button>
            <button type="button" class="deleteClassroom" id="" button-type="delete" data-li="classroom-list-template-clone">Delete</button>
            <button type="button" class="listTeacherStudents" id="" button-type="showStudents" data-li="teacher-list-template-clone">List students</button>
          </span>
        </div>
      </li>
    </ul>
    <button class="addNewClassroom">Add new classroom</button>
    <div id="back-link-go-back">
      <a class="back-link-title">Back</a>
    </div>
  </div>
</div>