<div class="main">
  <div class="container hidden" id="showSchoolForm">
    <input type="hidden" id="school_id" value="">
    <h2>Show school</h2>
    <form class="form-horizontal" action="" method="" id="showSchoolForm" method="" action="">
      <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
          <input type="text" name="show_school_name" id="showSchoolName" class="form-control" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">City</label>
        <div class="col-lg-6">
          <input type="text" name="show_school_city" id="showSchoolCity" class="form-control" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">State</label>
        <div class="col-lg-6">
          <input type="text" name="show_school_state" id="showSchoolState" class="form-control" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Zipcode</label>
        <div class="col-lg-6">
          <input type="text" name="show_school_zipcode" id="showSchoolZipcode" class="form-control" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Phone no</label>
        <div class="col-lg-6">
          <input type="text" name="show_school_phone_no" id="showSchoolPhoneno" class="form-control" value=""/>
        </div>
      </div>
      <button type="button" class="listClassrooms btn btn-primary btn-sm"  button-type="showClassrooms" data-li="school-list-template-clone">List classrooms</button>
      <button type="button" class="listTeachers btn btn-primary btn-sm"  button-type="showTeachers" data-li="school-list-template-clone">List teachers</button>
      <!--<button type="submit" class="btn btn-primary hidden" id="schoolUpdate">Update</button>-->
      <div class="sideIcons">
        <div id="backLinkGoHome" >
          <a class="back-link-title"><img src="assets/home.png" alt="img"></a>
        </div>
        <div id="backLinkGoBack">
          <a class="back-link-title"><img src="assets/back-arrow.png" alt="img"></a>
        </div>
      </div>
    </form>
  </div>
</div>