<div class="main">
  <div class="container hidden" id="showSchoolForm">
    <input type="hidden" id="school_id" value="">
    <h2>Show school</h2>
    <form class="form-horizontal" action="" method="" id="showSchoolForm" method="" action="">
      <label>Name</label>
      <input type="text" name="show_school_name" id="showSchoolName" class="form-control" value=""/>
      <label>City</label>
      <input type="text" name="show_school_city" id="showSchoolCity" class="form-control" value=""/>
      <label>State</label>
      <input type="text" name="show_school_state" id="showSchoolState" class="form-control" value=""/>
      <label>Zipcode</label>
      <input type="text" name="show_school_zipcode" id="showSchoolZipcode" class="form-control" value=""/>
      <label>Phone no</label>
      <input type="text" name="show_school_phone_no" id="showSchoolPhoneno" class="form-control" value=""/>
      <button type="button" class="listClassrooms"  button-type="showClassrooms" data-li="school-list-template-clone">List classrooms</button>
      <button type="button" class="listTeachers"  button-type="showTeachers" data-li="school-list-template-clone">List teachers</button>
      <!--<button type="submit" class="btn btn-primary hidden" id="schoolUpdate">Update</button>-->
      <div id="back-link-go-back">
      <a class="back-link-title">Back</a>
      </div>
    </form>
  </div>
</div>