<div class="main">
  <div class="container hidden" id="addEditStudentForm">
    <input type="hidden" id="student_id" value="">
    <h2>Add/edit student</h2>
    <form class="form-horizontal" action="" method="" id="studentForm">
      <label>Name</label>
      <input type="text" name="student_name" id="studentName" class="form-control" value=""/>
      <label>Father's name</label>
      <input type="text" name="student_father_name" id="studentFatherName" class="form-control" value=""/>
      <label>Mother's name</label>
      <input type="text" name="student_mother_name" id="studentMotherName" class="form-control" value=""/>
      <label>City</label>
      <input type="text" name="student_city_name" id="studentCity" class="form-control" value=""/>
      <label>State</label>
      <input type="text" name="student_state_name" id="studentState" class="form-control" value=""/>
      <label>Phone no</label>
      <input type="text" name="student_phoneno" id="studentPhoneno" class="form-control" value=""/>
      <label>Classroom</label>
      <select name="student_classroom_list_element" id="studentClassroomListElement" >
      </select>
      <button type="submit" class="btn btn-primary" id="studentAdd">Add</button>
      <button type="submit" class="btn btn-primary hidden" id="studentUpdate">Edit</button>
    </form>
    <div id="back-link-go-back">
      <a class="back-link-title">Back</a>
    </div>
  </div>
</div>