<div class="main">
  <div class="container hidden" id="listStudentsForm">
    <h2>List students</h2>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Father Name</th>
        <th>Mother Name</th>
        <th>City</th>
        <th>State</th>
        <th>Phone no</th>
        <th colspan="3"></th>
      </tr>
      </thead>
    </table>
    <div class="col-md-10 col-sm-10">
      <ul id='student-list'>
        <li id='student-list-template-clone' class="hidden">
          <div class='row'>
            <span class='col-sm-4 span-student-name'>
              Student name
            </span>
            <span class='col-sm-4 span-student-father-name'>
              Student father
            </span>
            <span class='col-sm-4 span-student-mother-name'>
              Student mother
            </span>
            <span class='col-sm-4 span-student-city'>
              Student city
            </span>
            <span class='col-sm-4 span-student-state'>
              Student state
            </span>
            <span class='col-sm-4 span-student-phoneno'>
              Student phoneno
            </span>
            <span>
              <button type="button" class="editStudent btn btn-primary" id="" button-type="edit" data-li="student-list-template-clone">Edit</button>
              <button type="button" class="deleteStudent btn btn-primary" id="" button-type="delete" data-li="student-list-template-clone">Delete</button>
              <!--<button type="button" class="listSubjects" id="listTeacherClassrooms" button-type="showTeacherClassrooms" data-li="teacher-list-template-clone">List classrooms</button>-->
            </span>
          </div>
        </li>
      </ul>
      <button class="addNewStudent">Add new student</button>
      <div id="back-link-go-back">
        <a class="back-link-title">Back</a>
      </div>
    </div>
  </div>
</div>