<div class="main">
  <div class="container hidden" id="addEditTeacherForm">
    <input type="hidden" id="teacher_id" value="">
    <h2>Add/edit teacher</h2>
    <form class="form-horizontal" action="" method="" id="teacherForm">
      <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
          <input type="text" name="teacher_name" id="teacherName" class="form-control" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="col-lg-6">
          <select name="teacher_gender" id="teacherGender" class="form-control">
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Phone no</label>
        <div class="col-lg-6">
          <input type="text" name="teacher_phoneno" id="teacherPhoneno" class="form-control" value=""/>
        </div>
      </div>
      <div class="form-group">
        <label>Classroom</label>
        <div class="col-lg-6">
          <select multiple="multiple" name="classroom_list_element" id="classroomListElement" class="form-control">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Subject</label>
        <div class="col-lg-6">
          <select multiple="multiple" name="subject_list_element" id="subjectListElement">
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="teacherAdd">Add</button>
      <button type="submit" class="btn btn-primary hidden" id="teacherUpdate">Edit</button>
    </form>
    <div id="back-link-go-back">
      <a class="back-link-title">Back</a>
    </div>
  </div>
</div>