<div class="main">
  <div class="container hidden" id="listSchoolsForm">
      <h2>List schools</h2>

        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>State</th>
            <th>Phone no</th>
            <th colspan="3"></th>
          </tr>
          </thead>
        </table>
    <ul id='school-list'>
      <li id='school-list-template-clone' class="hidden">
        <div class='row'>
          <span class='col-sm-4 span-school-name'>
            School name
          </span>
          <span class='col-sm-4 span-school-city'>
            School city
          </span>
          <span class='col-sm-4 span-school-state'>
            School state
          </span>
          <span class='col-sm-4 span-school-zipcode'>
            School zipcode
          </span>
          <span class='col-sm-4 span-school-phoneno'>
            School phoneno
          </span>
          <span>
            <button type="button" class="editSchool" id="" button-type="edit" data-li="school-list-template-clone">Edit</button>
            <button type="button" class="deleteSchool" id="" button-type="delete" data-li="school-list-template-clone">Delete</button>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>