<div class="main">
  <div class="container hidden" id="addEditSchoolForm">
    <input type="hidden" id="school_id" value="">
    <h2>Add/edit school</h2>
    <form class="form-horizontal" action="" method="" id="schoolForm" method="" action="">
        <label>Name</label>
        <input type="text" name="school_name" id="schoolName" class="form-control" value=""/>
        <label>City</label>
        <input type="text" name="school_city" id="schoolCity" class="form-control" value=""/>
        <label>State</label>
        <input type="text" name="school_state" id="schoolState" class="form-control" value=""/>
        <label>Zipcode</label>
        <input type="text" name="school_zipcode" id="schoolZipcode" class="form-control" value=""/>
        <label>Phone no</label>
        <input type="text" name="school_phone_no" id="schoolPhoneno" class="form-control" value=""/>
        <button type="submit" class="btn btn-primary" id="schoolAdd">Add</button>
        <button type="submit" class="btn btn-primary hidden" id="schoolUpdate">Update</button>
    </form>
  </div>
</div>